<!DOCTYPE html>
<html>
  <% include ./partials/header %>
  <body class="container center">
    <h4><%= title %></h4>
    <div class="row center">
      <br>
      <a class="waves-effect waves-light btn" href="http://localhost:3000/users">Show links</a>
      <a class="waves-effect waves-light btn blue" href="http://localhost:3000/urls">Simplify link</a>
    </div>
</html>
